$font-color: rgba(228, 229, 234, 1);

#header {
  position: relative;
  background: transparent;
  z-index: 1;
  padding-bottom: 15px;
  padding-top: 50px;

  @media (max-width: 820px) {
    background: #1e1e1e;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
  }

  .bullPurple {
    position: absolute;
    top: -2px;
    right: 34%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(
      64% 64% at 27.25% 26.5%,
      rgba(236, 208, 255, 0.64) 0%,
      rgba(161, 93, 207, 0.24) 59.67%,
      rgba(118, 49, 164, 0.208) 78.59%,
      rgba(86, 24, 128, 0.232) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);

    @media (max-width: 820px) {
      display: none;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;

    &__nav {
      display: flex;
      justify-content: space-between;

      @media (max-width: 1024px) {
        width: 100%;
      }

      .logo-link {
        margin-right: 40px;
        font: 300 10px/12px Montserrat, sans-serif;
        color: $font-color;

        @media (max-width: 1200px) {
          margin-right: 30px;
        }

        @media (max-width: 820px) {
          display: none;
        }
      }

      .main-nav {
        @media (max-width: 820px) {
          width: 100%;
          overflow-x: auto;
          &::-webkit-scrollbar {
            height: 0;
            width: 0;
          }
        }

        ul {
          display: flex;
          justify-content: space-between;

          li {
            margin-right: 30px;

            @media (max-width: 1200px) {
              margin-right: 20px;
            }

            @media (max-width: 820px) {
              margin-right: 30px;
            }

            a {
              font: 500 16px/19px Inter, sans-serif;
              color: $font-color;

              @media (max-width: 820px) {
                font-size: 12px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }

    &__contacts {
      display: flex;
      @media (max-width: 1024px) {
        display: none;
      }

      a {
        font: 500 16px/19px Inter, sans-serif;
        color: $font-color;
        margin-left: 30px;

        @media (max-width: 1200px) {
          margin-left: 20px;
        }
      }
    }
  }
}
