$font-color: rgba(228, 229, 234, 1);

#hero {
  .hero {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;

    &--text {
      h1 {
        max-width: 362px;
        font: 400 48px/58px Inter, sans-serif;
        letter-spacing: 0em;
        text-align: left;
        color: $font-color;
        span {
          color: #fcb045;
        }
      }

      p {
        color: $font-color;
        margin-top: 15px;
        max-width: 275px;
        font: 400 18px/22px Montserrat, sans-serif;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    &--bonus {
      display: flex;
      flex-direction: column;
      align-items: end;

      h3 {
        font: 700 18px/22px Inter, sans-serif;
        letter-spacing: 0.05em;
        text-align: right;
        color: $font-color;
        max-width: 291px;

        span {
          text-transform: uppercase;
        }
      }

      .bonus {
        display: flex;
        &--items {
          .bonus-item {
            max-width: 164px;
            padding-top: 30px;

            h5 {
              font: 500 18px/22px Inter, sans-serif;
              text-transform: uppercase;
              letter-spacing: 0.05em;
              text-align: right;
              color: $font-color;
            }

            p {
              font: 400 16px/20px Montserrat, sans-serif;
              letter-spacing: 0em;
              text-align: right;
              color: $font-color;
            }
          }
        }
      }

      .hero-btn {
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;

        button {
          background: rgba(64, 119, 243, 1);
          color: $font-color;
          font: 500 16px/19px Inter, sans-serif;
          letter-spacing: 0em;
          text-align: center;
          border: none;
          cursor: pointer;
          padding: 21px 35px;
        }
      }
    }
  }
}
